<h3 class="landmark">Edit Translation</h3>
<%= form_for(translation, :url => otwtranslation_update_translation_path,
                          :html => { :id => "edit_otwtranslation_translation_#{@translation.id}_form" },
                          :remote => true) do |f| %>
  <dl>
    <dt><%= f.label(:label, ts("Translation:"))%></dt>
    <dd><%= f.text_area :label, :rows => 5 %></dd>

  </dl>
  <p class="submit"><%= f.submit "Update translation" %></p>

<% end %>

