<%= form_for(translation, :url => otwtranslation_post_translation_path) do |f| %>
  <dl>
    <dt><%= f.label(:label, ts("Translation:"))%></dt>
    <dd><%= f.text_area :label, :rows => 5 %></dd>

  </dl>
  <p class="submit"><%= f.submit "Add translation" %></p>

<% end %>
