<%= form_for(translation, :url => otwtranslation_post_translation_path,
                          :remote => true) do |f| %>
  <dl>
    <dt><%= f.label(:label, "Translation:")%></dt>
    <dd><%= f.text_area :label, :rows => 5 %></dd>

  </dl>
  <p class="action"><%= f.submit "Add translation" %></p>

<% end %>
