<div class="clear-both"></div>

<h3>List of translations for this phrase:</h3>

<% if translations.empty? %>
  <p id="otwtranslation_notranslations">
    <%= ts("There are no translations for the selected language.") %>
  </p>

<% elsif %>

  <ol id="otwtranslation_translations" class="translation index">
    <% translations.each.with_index do |translation, i| %>
      <li id="translation<%= translation.id %>" 
          class="<%= i%2 == 0 ? "even" : "odd" %>"> 

        <%= render("otwtranslation/translations/translation", 
                   :translation => translation) %>

      </li>
    <% end %>
  </ol>

<% end %>
