<ol id="otwtranslation_translations">
  <% translations.each.with_index do |translation, i| %>
    <li id="translation<%= translation.id %>" 
        class="<%= i%2 == 0 ? "even" : "odd" %> <%= "approved" if translation.approved %>  "> 

      <%= render :partial => "otwtranslation/translations/translation", 
                 :locals => { :translation => translation } %>

    </li>
  <% end %>
</ol>
