<div class="translation listbox group">
  <h3 class="heading">List of translations for this phrase:</h3>
  
  <% if translations.empty? %>
    <p><%= ts("There are no translations for the selected language.") %></p>

  <% elsif %>

    <ul class="translation index group">
      <% translations.each.with_index do |translation, i| %>
        <li id="translation<%= translation.id %>" class="translation blurb group"> 
          <%= render("otwtranslation/translations/blurb", :translation => translation) %>

	</li>
      <% end %>
    </ul>
  <% end %>
</div>
