<div class="translation">
  <h3 class="heading">Are you sure you want to disapprove the following translation?</h3>
  
  <%= render("otwtranslation/translations/translation", :translation => @translation) %>

  <h3 class="landmark">Translation Actions</h3>
  <ul class="translation navigation actions">
    <li>
      <%= link_to 'Cancel', otwtranslation_phrase_path(@translation.phrase_key) %>
    </li>
    <li>
      <%= button_to("Disapprove", otwtranslation_disapprove_translation_path(@translation),
                  :method => :post) %>
    </li>
  </ul>
</div>
