<div class="translation">
  <h3 class="heading">Are you sure you want to disapprove the following translation?</h3>
  
  <%= render("otwtranslation/translations/translation", :translation => @translation) %>

  <h3 class="landmark">Translation Actions</h3>
  <ul class="translation navigation actions">
    <li>
      <%= link_to 'Cancel', otwtranslation_phrase_path(@translation.phrase_key) %>
    </li>
    <li>
      <%= form_for(@translation, 
                 :url => otwtranslation_disapprove_translation_path(@translation), 
                 :html => { :method => :post } ) do |f| %>
      <%= f.submit 'Disapprove' %>
      <% end %>
    </li>
  </ul>
</div>
