<h2><%= ts("Edit Translation") %></h2>

<%= render :partial => "/otwtranslation/phrases/phrase", 
           :locals => { :phrase => @phrase } %>

<%= render :partial => "edit_form", :locals => { :translation => @translation } %>


<%= render :partial => "otwtranslation/translations/translations_list", 
           :locals => { :translations => @existing_translations } %>

