<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Edit Translation") %></h2>
<!--end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->

<!--main content-->
<%= render :partial => "/otwtranslation/phrases/phrase", 
           :locals => { :phrase => @phrase, :sources => @sources,
           :params => { :controller => otwtranslation_update_translation_path(@translation), :action => "" }}
%>

<%= render :partial => "edit_form", :locals => { :translation => @translation } %>


<%= render :partial => "otwtranslation/translations/translations_list", 
           :locals => { :translations => @existing_translations } %>
<!-- /main-->


