<div class="translation">
  <!--Descriptive page name and system messages, descriptions, and instructions.-->
  <h2 class="heading"><%= ts("Add Translation") %></h2>
  <!--end descriptions-->

  <!--Subnavigation, sorting and actions.-->
  <!--end navigation-->

  <!--main content-->

  <%= render("/otwtranslation/phrases/phrase", 
           :phrase => @phrase, :sources => @sources,
           :params => { :controller => otwtranslation_new_translation_path, :action => "" }) %>

  <%= render("new_form", :translation => @translation) %>


  <%= render("otwtranslation/translations/translations_list", 
           :translations => @existing_translations) %>
  <!--/main-->
</div<
