<!--Descriptive page name and system messages, descriptions, and instructions.-->

<div class="translation">
  <h2 class="heading"><%= ts("Show Translation") %></h2>
  <!--end descriptions-->


  <!--Subnavigation, sorting and actions.-->
  <!--end navigation-->

  <!--main content-->
  <%= render("otwtranslation/translations/translation", :translation => @translation) %>

  <div class="clear"></div>

  <h3 class="heading">For phrase</h3>

  <%= render("/otwtranslation/phrases/phrase", 
      :phrase => @phrase, :sources => @sources,
  :params => { :controller => otwtranslation_translation_path(@translation), :action => "" }) %>


  <%= render 'comments/commentable', :commentable => @translation %>
</div>
