<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Show Translation") %></h2>
<!--end descriptions-->


<!--Subnavigation, sorting and actions.-->
<!--end navigation-->


<!--main content-->
<ol id="otwtranslation_translations">
  <li id="translation<%= @translation.id %>" class="even">
    <%= render :partial => "otwtranslation/translations/translation", 
               :locals => { :translation => @translation } %>
  </li>
</ol>

<h3>For phrase</h3>

<%= render :partial => "/otwtranslation/phrases/phrase", 
           :locals => { :phrase => @phrase } %>


<h3>Comments</h3>
<p style="color: red;">Here be place for comments</p>
