<% languages = otwtranslation_tool_visible? ? Otwtranslation::Language.all : Otwtranslation::Language.visible %>

<strong><%= ts("Select language:")%></strong> (Needs to be a pretty CSS dropdown)
<ul>
  <% for lang in languages %>
  <li><%= link_to(lang.name, url_for(:locale => lang.locale))%></li>
  <% end %>
</ul>
