<div class="mails">
  <h2 class="heading">Mails</h2>

  <%= will_paginate(@paths, :params => {:controller => otwtranslation_mails_path }) %>

  <ul class="mail index group">
    <% @paths.each_with_index do |path, i| %>
    <li>
      <%= link_to File.basename(path), otwtranslation_mail_path(i) %>
    </li>
    <% end %>
  </ul>
  
  <%= will_paginate(@paths, :params => {:controller => otwtranslation_mails_path }) %>

</div>
