<!-- BACK END: if this is a single action form let's lose the list structure-->

<ul class="phrase navigation actions">
  <li>
    <%= button_to("Add translation", otwtranslation_new_translation_path(phrase),
                 :remote => true, :method => :get) %>
  </li>
</ul>
