<!-- BACK END: if this is a single action form let's lose the list structure-->

<ul class="translation navigation actions">
  <li>
    <%= form_for(:translation, 
                 :url => otwtranslation_new_translation_path(phrase), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Add translation' %>
    <% end %>
  </li>
</ul>
