<div class="phrase show inline">
  
  <a href="<%= otwtranslation_phrase_path(@phrase) %>">
    <p class="label"><%= @phrase.label %></p>
  </a>
  
  <!--BACK END: if this is a single form and not a list, let's drop the list structure-->
  <ul class="phrase navigation" id="add_translation">
    <li>
      <%= button_to("Add translation", otwtranslation_new_translation_path(@phrase),
                  :remote => true, :method => :get) %>
    </li>
  </ul>

  <%= render("otwtranslation/translations/translations_list", 
             :translations => @translations ) %>


  <div id="inline-close">
    <a class="action" role="button" href="javascript:void(null);">Close</a>
  </div>

</div>
