<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Phrase Table") %></h2>
<!--end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->

<!--main content-->
<%= render :partial => "otwtranslation/phrases/phrase_table",
           :locals => { :phrases => @phrases } %>
<!-- /main-->

