<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Show Phrase") %></h2>
<!-- end descriptions-->


<%= render("otwtranslation/phrases/phrase", 
           :phrase => @phrase, :sources => @sources,
           :params => {:controller => otwtranslation_phrase_path(@phrase), :action => ""}) %>
<%= render("otwtranslation/phrases/add_translation_button", 
           :phrase => @phrase_id) %>
<%= render("otwtranslation/translations/translations_list", 
           :translations => @translations) %>


