<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Show Phrase") %></h2>
<!-- end descriptions-->


<%= render :partial => "otwtranslation/phrases/phrase", 
           :locals => { :phrase => @phrase, :sources => @sources,
                        :params => {:controller => otwtranslation_phrase_path(@phrase), :action => ""} } %>
<%= render :partial => "otwtranslation/phrases/add_translation_button", 
           :locals => { :phrase => @phrase_id } %>
<%= render :partial => "otwtranslation/translations/translations_list", 
           :locals => { :translations => @translations } %>


