<h6 class="landmark heading">Rule Actions</h6>
<ul class="navigation actions" role="navigation">
  <li>
    <%= button_to("Edit", otwtranslation_edit_rule_path(rule), :method => :get) %>
  </li>

  <li>
    <%= button_to("Move up", otwtranslation_move_up_rule_path(rule), :method => :get) %>
  </li>

  <li>
    <%= button_to("Move down", otwtranslation_move_down_rule_path(rule), :method => :get) %>
  </li>

  <li>
    <%= button_to("Delete", otwtranslation_confirm_destroy_rule_path(rule), 
                 :remote => true, :method => :get) %>
  </li>
</ul>


