<% unless @assignment.activated %>
<ul class="assignment navigation" id="add_assignee">
  <li>
    <%= form_for(:part, 
                 :url => otwtranslation_new_assignment_part_path(@assignment), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Add assignee' %>
    <% end %>
  </li>
</ul>
<% end %>
