<p>
You have been assigned to translate a part of <%= ArchiveConfig.APP_NAME %> into <%= @assignment.language.name %>. It is now your turn to work on the assignment!
</p>

<p>Look up 
  <%= link_to("this assignment", otwtranslation_assignment_url(@assignment)) %>.
</p>

<p>Look up 
  <%= link_to("all your assignments", otwtranslation_home_url) %>.
</p>
