<p>
<%= ts("You have been assigned to translate a part of {general::app_name} into {general::language}. You will get another message when it is your turn to work on the assignment.", "", 
:app_name => ArchiveConfig.APP_NAME, :language => @assignment.language.name)%>
</p>

<p>Look up 
  <%= link_to("this assignment", otwtranslation_assignment_url(@assignment)) %>.
</p>

<p>Look up 
  <%= link_to("all your assignments", otwtranslation_home_url) %>.
</p>
