<% if logged_in? %>
  <div id="greeting">
    <p class="icon">
      <span class="landmark">Hi, <%= current_user.login %>!</span>
    <%= icon_display(current_user) %>
    </p>
    <ul class="navigation actions" role="navigation">
	    <li><%= link_to ts("post new"), "" %></li>
      <li> <%= link_to ts("log out"), logout_path %></li>
    </ul>
  </div>
<% end %>
