<!-- navigation tabs for translators -->
<h3 class="landmark">Otwtranslation Navigation</h3>
<ul class="otwtranslation navigation" role="navigation">
<li><%= span_if_current "translation home", otwtranslation_home_path %></li>
<li><%= span_if_current "phrases", otwtranslation_phrases_path %></li>
<li><%= span_if_current "sources", otwtranslation_sources_path %></li>
<li><%= span_if_current "languages", otwtranslation_languages_path %></li>

</ul>
