<!-- navigation tabs for translators -->
<h3 class="landmark">Otwtranslation Navigation</h3>
<ul class="otwtranslation navigation" role="navigation">
<li><%= span_if_current ts("translation home"), otwtranslation_home_path %></li>
<li><%= span_if_current ts("phrases"), otwtranslation_phrases_path %></li>
<li><%= span_if_current ts("sources"), otwtranslation_sources_path %></li>
<li><%= span_if_current ts("languages"), otwtranslation_languages_path %></li>

</ul>
