<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Translation Home") %></h2>
<!--end descriptions-->

<!--navigation, sorting and actions-->
<!--end nav-->

<!--main content-->
<!-- /main-->



