<div class="translation home">

  <!--Descriptive page name and system messages, descriptions, and instructions.-->
  <h2 class="heading">Translation Home</h2>
  <!--end descriptions-->

  <!--navigation, sorting and actions-->
  <!--end nav-->

  <!--main content-->
  <div class="languages listbox group">
    <h3 class="heading">Languages in which I have assignments</h3>

    <ul class="index group">
      <% @languages.each do |language| %>
        <li><%= language %></li>
      <% end %>
    </ul>
  </div>

  <div class="assignments listbox group">
    <h3 class="heading">My assignments for the current language</h3>
    <%= render("otwtranslation/assignments/assignments_list", :assignments => @assignments) %>
  </div>
<!-- /main-->



