<div class="assignment">
  <h3 class="headiing">Are you sure you want to delete the following assignment?</h3>

  <%= render("meta", :assignment => @assignment) %>

  <h3 class="landmark">Assignment Actions</h3>
  <ul class="assignment navigation actions">
    <li>
      <%= link_to 'Cancel', otwtranslation_assignment_path(@assignment) %>
    </li>
    <li>
      <%= form_for(@assignment, 
          :url => otwtranslation_destroy_assignment_path(@assignment), 
          :html => { :method => :delete } ) do |f| %>
      <%= f.submit 'Delete' %>
      <% end %>
    </li>
  </ul>
</div>
