<div class="assignment">
  <h3 class="headiing">Are you sure you want to delete the following assignment?</h3>

  <%= render("meta", :assignment => @assignment) %>

  <h3 class="landmark">Assignment Actions</h3>
  <ul class="assignment navigation actions">
    <li>
      <%= link_to 'Cancel', otwtranslation_assignment_path(@assignment) %>
    </li>
    <li>
      <%= button_to("Delete", otwtranslation_destroy_assignment_path(@assignment),
                   :remote => false, :method => :delete) %>
      <%# need explicit remote => false here bc we always want to redirect %>
    </li>
  </ul>
</div>
