<div class="assignment">
  <!--Descriptive page name and system messages, descriptions, and instructions.-->
  <h2 class="heading">Show Assignment</h2>
  <!--end descriptions-->

  <!--Subnavigation, sorting and actions.-->
  <!--end navigation-->


  <!--main content-->
  <%= render("meta", :assignment => @assignment) %>

  <%= render("navigation", :assignment => @assignment, :on_show => true) %>

  <div class="assignment-part listbox group">
    <h3 class="heading"><%= ts("Assigned to:") %></h3>

    <ol class="assignment-part index group">
      <% @assignment.parts.each do |part| %>
      <%= render("otwtranslation/assignment_parts/part",
          :assignment => @assignment, :part => part) %>
      <% end %>
    </ol>
  </div>
<!--/main-->
</div>

